html,body {
  font-family: "ƒqƒ‰ƒMƒmŠpƒS Pro W3", ƒƒCƒŠƒI, Osaka, Arial, Verdana, "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
  color: #282828;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 4px;
  margin-bottom: 0px;
  color: #383848;
}
hr { 
  margin: 2px; padding: 0px;  
  border: 0px; border-top: 2px solid #696969;
}
table { border-collapse: collapse; }
th { background:#d0d0d0; }
th, td { 
  border:1px solid #999; 
  padding:2px 5px; 
}
pre.code-style { 
  padding: 8px; 
  background: #f9f9f9;
  border: 1px solid #4169e1;
}
blockquote { 
  margin-left: 16px;
  padding:8px 8px;
  border-left: 8px solid #f7f7f7;
}
