html { 
  overflow-y:scroll; margin: 0 auto;
  min-width:480px; max-width:1280px;
}
body {
  font-family: ü‡ÉSÉVÉbÉNëÃ, 'Yu Gothic', YuGothic, 'ÉqÉâÉMÉmäpÉSÉVÉbÉN Pro', 'Hiragino Kaku Gothic Pro', ÉÅÉCÉäÉI, Meiryo, Osaka, 'ÇlÇr ÇoÉSÉVÉbÉN', 'MS PGothic', sans-serif;
  font-size:1rem; font-weight:normal; color:#404040;
  background:#ffffff; margin:2rem;
}

strong  { font-size:1.0rem; font-weight:bold; color:#ff3300; }
.strong { font-size:1.0rem; font-weight:bold; color:#ff3300; }
.notes  { font-size:0.7rem; }

hr { margin-top:2px; padding: 0px; border: 0px; border-top: 1px solid #a0a0a0; }
h1,h2,h3,h4,h5,h6 { margin-bottom: 0px; }
h1,h2 { margin-top:4rem; }
h3,h4 { margin-top:2rem; }
h5,h6 { margin-top:1rem; }

table { border-collapse: collapse; }
th { background:#e0e0e0; }
th, td { border:1px solid #606060; padding:2px 5px; }

pre.code-style { 
  padding: 8px; 
  background: #808080;
  color:#fefefe;
  border: 1px solid #e0e0e0;
}

blockquote { 
  margin-left: 16px;
  padding:8px 8px;
  border-left: 8px solid #e0e0e0;
}
