@charset "UTF-8";
/* 
  biz_style.css
 */
/* ////////////////////////////////////////////////////////////////////////// */
/* //                                                                         */
/* // unique items // */
/* // 

/* // tbl_wh-result tbl_wh-list // */
.table-grid.tbl_wh-result .th,
.table-grid.tbl_wh-list .th {
      height:3rem;
      padding:0.5rem;
      text-align:left;
    }
.table-grid.tbl_wh-list .td {
      min-height:5rem;
    }
.table-grid.tbl_wh-list .d-none .row .th:first-child {
      border-left:1px solid #ffffff; 
    }
.table-grid.tbl_wh-list .d-none .row .td:first-child {
      border-left:1px solid #ffffff;
    }

@media (max-width: 576px){
.table-grid.tbl_wh-result thead .row .th.line-1{
      border-right:1px solid #0095d9; 
    }
.table-grid.tbl_wh-result thead .row .th.line-2{
      border-top:1px solid #ffffff; 
    }
.table-grid.tbl_wh-result tbody .row .td:nth-child(2) {
      border-left:1px solid #0095d9; 
    }
.table-grid.tbl_wh-result tbody .row .td:nth-child(3) {
      border-left:1px solid #0095d9; 
    }
}


/* // tbl_dayoff-result // */
@media (max-width: 576px){
.table-grid.tbl_dayoff-result thead .row .th:nth-child(1) {
      border-right:1px solid #0095d9; 
    }
.table-grid.tbl_dayoff-result thead .row .th:nth-child(2) {
      border-left:1px solid #0095d9; 
    }
.table-grid.tbl_dayoff-result thead .row .th.line-2 {
      border-top:1px solid #ffffff; 
    }
.table-grid.tbl_dayoff-result tbody .row .td:nth-child(2) {
      border-left:1px solid #0095d9; 
    }
}


/* // tbl_dayoff-list // */
.table.layout-fixed.tbl_dayoff-list .td {
      display: -ms-inline-flexbox; display: inline-flex;
      -webkit-align-items:center; -ms-flex-align:center; align-items:center;
      padding:0.5rem;
    }
.table.layout-fixed.tbl_dayoff-list .dayoff-num {
      display:inline-block;
      padding:0.75rem 1rem 0.3rem 0.5rem;
      text-align:right;
    }



/* // tbl_calendar // */
fieldset .row .col-12 .table.tbl_calendar { 
      width:100%; 
    }
.table.tbl_calendar thead th, 
.table.tbl_calendar.tbl_sub thead th,
.table.tbl_calendar.tbl_sub tbody td { 
      height:48px;
      text-align:center; 
    }
.table.tbl_calendar tbody tr td { 
      min-height:48px;
      padding:0.25rem; 
    }
.table.tbl_calendar .tbl_calendar-day { 
      font-size:0.8rem;
    }
.table.tbl_calendar .tbl_calendar-icon {
      padding-top:0.25rem;
      text-align:right;
    }

.tbl_sub.tbl_calendar tbod tr td {
      padding:0;
    }
.tbl_sub.tbl_calendar tbody tr td .checkbox {
      padding:0;
    }
.tbl_sub.tbl_calendar tbody tr td .checkbox .indicator{
      display:inline-block; 
      margin:0; 
      padding:0; 
      width:20px; 
      height:20px;
    }


/* // tbl_time-mgt // */
@media (max-width: 575px) {
.table.tbl_time-mgt tbody tr .th.col-1 {
      padding:1.0rem 0.25rem 0.5rem 0.25rem;
      text-align:center;
    }
}


/* // tbl_update-history // */
fieldset .row .col-12 .table.tbl_update-history { width:calc(100% + 8px); }


/* // state_icon // */
.input-group.state_icon { 
      align-items:center;
      -ms-flex-align:center;
    }
.input-group.state_icon span {
      padding-left:0.25rem;
    }
    

/* // on_duty // */
.on_duty-icons { 
      margin-bottom:0.25rem; 
    }
.on_duty-icons .on_duty-icon_s { 
      line-height:1;
    }
.on_duty .on_duty-date {
      margin-right:2rem;
    }
.on_duty .on_duty-date span {
      line-height:1;
    }
.on_duty-icon_l{
      margin-bottom:0.5rem;
    }
.on_duty-icon_l span.text-nowrap {
      display:inline-block;
      margin-bottom:0.25rem;
    }
@media (min-width: 768px){
.on_duty-icons { 
      margin-bottom:0; 
    }
.on_duty-icons .on_duty-icon_s { 
      line-height:1.75; 
    }
.on_duty .on_duty-icon_l {
      margin-bottom:.5rem;
      padding-top:0.75rem;
    }
}


/* // modal_input_employee // */
fieldset.field_system .checkbox.employee_send_mail .indicator { 
      padding-top:5px; 
    }
fieldset.field_system .item_add i.employee_send_mail { color:#00aa90; }


/* // work_time // */
fieldset .work_time .row, fieldset .break_time .row { width:auto; }
.work_time label.checkbox, .break_time label.checkbox {
      height:48px;
      margin:0;
      padding:0.75rem 0 0.75rem 0.75rem; 
    }
.row.work_time-end p, .row.break_time-end p {
      height:48px;
      padding:0.75rem 0.2rem;
    }
@media (max-width: 479px) {
.work_time-start div.input-group.timepicker,
.break_time-start div.input-group.timepicker {
      padding-bottom:0.25rem;
    }
.row.work_time-end p, .row.break_time-end p {
      margin-left:2rem;
    }
}

.bg-today       { 
      background-image:
      linear-gradient(90deg, #ffaf6f 5%, #ffaf6f 3%, white 0%, white 95%, white 95%, white 95%);
    }

.bg-holiday       { background:#f8f8f8; }

input.form-control.input-year { width:5rem; }
input.form-control.input-month { width:3rem; }

.pointer { cursor:pointer; }


/* // group member  // */
.bg-leader       { background:#f0ffff; }
.bg-common       { background:#ffffff; }
.bg-guest        { background:#fafafa; }



.box { border:solid 1px #efefef; }

.select-box { 
      border:solid 1px #efefef; 
      background:#ffffff;
      border-radius:4px;
      padding:0rem 0.2rem 0rem 0.2rem; 
      box-shadow:2px 2px 2px 0px var( --accent_color ,#e0e0e0);
    }
.table-hover .select-box:hover { 
      background-color:#fffff0!important; 
      cursor:pointer; 
    }



/* ////////////////////////////////////////////////////////////////////////// */
/* //                                                                         */
/* // work_type icon // */
/* //                                                                         */
.work_type span {
      font-weight:bold; 
      padding-top:0.25rem;
    }

.work_type.go_work {
      color:#0095d9;
    }
.work_type.go_work.disabled {
      color:#eeeeee;
    }
.work_type.go_work .work_type-icon {
      background:url('../images/btn_go_work.svg'); 
      background-size:cover; 
      transition:color 0.15s ease-in-out, background 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      border:none;
    }
.work_type.go_work .work_type-icon:hover {
      background:url('../images/btn_go_work_hover.svg'); 
      background-size:cover; 
    }
.work_type.go_work .work_type-icon.disabled {
      background:url('../images/btn_go_work_disabled.svg'); 
      background-size:cover; 
    }

.work_type.leave_work {
      color:#999999;
    }
.work_type.leave_work.disabled {
      color:#eeeeee;
    }
.work_type.leave_work .work_type-icon {
      background:url('../images/btn_leave_work.svg'); 
      background-size:cover; 
      transition:color 0.15s ease-in-out, background 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      border:none;
    }
.work_type.leave_work .work_type-icon:hover {
      background:url('../images/btn_leave_work_hover.svg'); 
      background-size:cover; 
    }
.work_type.leave_work .work_type-icon.disabled {
      background:url('../images/btn_leave_work_disabled.svg'); 
      background-size:cover; 
    }

.work_type.break_in {
      color:#00aa90;
    }
.work_type.break_in.disabled {
      color:#eeeeee;
    }
.work_type.break_in .work_type-icon {
      background:url('../images/btn_break_in.svg'); 
      background-size:cover; 
      transition:color 0.15s ease-in-out, background 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      border:none;
    }
.work_type.break_in .work_type-icon:hover {
      background:url('../images/btn_break_in_hover.svg'); 
      background-size:cover; 
    }
.work_type.break_in .work_type-icon.disabled {
      background:url('../images/btn_break_in_disabled.svg'); 
      background-size:cover; 
    }

.work_type.break_back {
      color:#db4d6d;
    }
.work_type.break_back.disabled {
      color:#eeeeee;
    }
.work_type.break_back .work_type-icon {
      background:url('../images/btn_break_back.svg'); 
      background-size:cover; 
      transition:color 0.15s ease-in-out, background 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      border:none;
    }
.work_type.break_back .work_type-icon:hover {
      background:url('../images/btn_break_back_hover.svg'); 
      background-size:cover; 
    }
.work_type.break_back .work_type-icon.disabled {
      background:url('../images/btn_break_back_disabled.svg'); 
      background-size:cover; 
    }



/* ////////////////////////////////////////////////////////////////////////// */
/* //                                                                         */
/* // markdown // */
/* //                                                                         */
.markdown { width:100%; }
.markdown div.html { 
      position:absolute; top:0; left:0; height:100%; width:100%;
      margin:0 0 0 0; padding:0.5rem;
      border:1px solid #999999; border-radius:2px; 
      color:#202020; font-size:1rem;
      background-color:#ffffff;
      overflow-x:hidden;
      overflow-y:auto;
      cursor:text;
    }
.markdown > textarea.readonly + div.html,
.markdown > textarea.readonly.alert-danger + div.html { 
      background-color:#ffffff; color:#404040; border-color:#efefef; 
      cursor:default;
      box-shadow:none;
    }
.markdown > textarea.alert-danger + div.html { 
      background-color:#f8d7da; 
    }


/* // markdown-html // */
.markdown-html p { 
      padding-top:0.2rem;
      padding-bottom:0.3rem;
    }

.markdown-html a { 
      font-size:1.0rem; 
      font-weight:bold; 
      color:#4169e1;
    }
.markdown-html table { 
      border-collapse:collapse; 
    }
.markdown-html table th { 
      background:#e0e0e0; 
    }
.markdown-html table th, .markdown div.html table td { 
      border:1px solid #606060; 
      padding:2px 5px; 
    }
.markdown-html pre { overflow:hidden; }
.markdown-html div { overflow:hidden; }
.markdown-html div.code-title { font-size:0.7rem; color:#666666; }
.markdown-html pre.code-style { 
      margin-left:0.5rem;
      padding:0.5rem;
      background:#eeeeee;
      border:1px solid #e0e0e0;
    }

.markdown-html pre.pre-style { 
      margin-left:0.5rem;
      padding:0.5rem;
    }

.markdown-html blockquote { 
      margin-left:16px;
      padding:8px 8px;
      border-left:8px solid #e0e0e0;
    }

.markdown-html hr { margin-top:2px; margin-bottom:0.5rem; padding:0px; border:0px; border-top:1px solid #a0a0a0; }
.markdown-html h1,h2 { margin-top:0.3rem; margin-bottom:0.2rem; font-weight:bold; }
.markdown-html h3,h4 { margin-top:0.0rem; margin-bottom:0.3rem; font-weight:bold; }
.markdown-html h5,h6 { margin-top:0.0rem; margin-bottom:0.3rem; font-weight:bold; }
.markdown-html h1 { font-size:1.6rem; }
.markdown-html h2 { font-size:1.4rem; }
.markdown-html h3 { font-size:1.2rem; }
.markdown-html h4 { font-size:1.0rem; }
.markdown-html h5 { font-size:0.8rem; }
.markdown-html h6 { font-size:0.6rem; }

.markdown-html .h1,.h2 { margin-top:0.3rem; margin-bottom:0.2rem; font-weight:bold; }
.markdown-html .h3,.h4 { margin-top:0.0rem; margin-bottom:0.3rem; font-weight:bold; }
.markdown-html .h5,.h6 { margin-top:0.0rem; margin-bottom:0.3rem; font-weight:bold; }
.markdown-html .h1 { font-size:1.6rem; }
.markdown-html .h2 { font-size:1.4rem; }
.markdown-html .h3 { font-size:1.2rem; }
.markdown-html .h4 { font-size:1.0rem; }
.markdown-html .h5 { font-size:0.8rem; }
.markdown-html .h6 { font-size:0.6rem; }



/* ////////////////////////////////////////////////////////////////////////// */
/* //                                                                         */
/* // comment-list // */
/* //                                                                         */
.comment-list .comment-body {
      max-height:320px;
      overflow-x:hidden;
      overflow-y:auto;
    }
.comment-frame {
      padding:0.5em 1em 0.2em 1em;
      margin:0.2em 0;
      background:#FFF;
      border:solid 2px #e0e0e0;
      border-radius:10px 10px 10px 10px;
    }
.comment-frame.me {
      border-color:#beedff;
      border-radius:10px 0 10px 10px;
    }
.comment-list .bgs-me {
      background:#70d6ff;
    }
.comment-frame.other {
      border-color:#ffc3c3;
      border-radius:0 10px 10px 10px;
    }
.comment-list .bgs-other {
      background:#ff6c6c;
    }

.comment-frame p.time-frame {
      text-align:right;
      font-size:0.7rem; color:#777777;
    }
.comment-frame p {
      margin: 0; 
      padding: 0;
    }

@media (min-width: 576px) {
  .comment-row .account-max-width {
    max-width: 180px;
  }
  .comment-row .comment-max-width {
    max-width: 386px;
  }
}
@media (min-width: 768px) {
  .comment-row .account-max-width {
    max-width: 180px;
  }
  .comment-row .comment-max-width {
    max-width: 578px;
  }
}
@media (min-width: 992px) {
  .comment-row .account-max-width {
    max-width: 180px;
  }
  .comment-row .comment-max-width {
    max-width: 802px;
  }
}
@media (min-width: 1200px) {
  .comment-row .account-max-width {
    max-width: 180px;
  }
  .comment-row .comment-max-width {
    max-width: 1010px;
  }
}



/* end of file */