<!--/* ////////////////////////////////////////////////// */-->
<!--/*                                                    */-->
<!--/* account_name_change/index.html */-->
<!--/*                                                    */-->
<!--/* ////////////////////////////////////////////////// */-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<!--/* ページヘッダー */-->
<head th:replace="_layout/default_layout::common_header(${title},~{::link.target})">
  <!--/* レイアウト確認用設定. */-->
  <meta charset="utf-8" />
  <title>account_info/index</title>
  <link rel="stylesheet" href="../contents/styles/bootstrap/css/bootstrap.min.css" re-th:uqhref="@{/contents/styles/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" href="../contents/styles/bootstrap/css/bootstrap-datepicker.min.css" re-th:uqhref="@{/contents/styles/bootstrap/css/bootstrap-datepicker.min.css}" />
  <link rel="stylesheet" href="../contents/styles/commons.css" re-th:uqhref="@{/contents/styles/commons.css}" />
  <link rel="stylesheet" href="../contents/styles/re_employee_manager.css" re-th:uqhref="@{/contents/styles/re_employee_manager.css}" />
  <!--/* 画面固有 スタイル設定. */-->
  <link class="target" />
</head>
<body>

<!--/* コンテンツヘッダー. */-->
<div th:replace="_layout/default_layout::common_system_title('container','アカウント名変更',@{/account_name_change},@{/main_menu})" th:remove="tag"></div>

<!--/* -------------------------------------------------- */-->
<!--/* メインコンテンツ. */-->
<div th:replace="_layout/default_layout::common_contents('container',~{::div#main_contents})" th:remove="tag">
  <div id="main_contents" class="container" th:remove="tag">

    <!--/* メッセージ. */-->
    <div th:replace="_layout/default_layout::common_message()" ></div>

    <!--/* メインフォーム. */-->
    <form class="form-horizontal" id="myform">
      <p class="p-5" >作成中です。</p>
    </form>

  </div>
</div>
<!--/* メインコンテンツ. */-->
<!--/* -------------------------------------------------- */-->

<!--/* -------------------------------------------------- */-->
<!--/* コンテンツフッター */-->
<div th:replace="_layout/default_layout::common_footers('container',~{::#main_footer},~{::div.modals},~{::script.target})" th:remove="tag">
  <!--/* 画面固有 フッター設定. */-->
  <div id="main_footer" th:remove="tag"></div>
  <!--/* 画面固有 ダイアログ設定. */-->
  <div class="modals" th:remove="tag"></div>
  <!--/* 画面固有 スクリプト設定. */-->
  <script class="target" ></script>
</div>
<!--/* コンテンツフッター */-->
<!--/* -------------------------------------------------- */-->

</body>
</html>