#管理対象除外

.metadata/
.recommenders/
RemoteSystemsTempFiles/

src/com-res_system-commons/.gradle/
src/com-res_system-commons/.settings/
src/com-res_system-commons/build/

src/com-res_system-commons-dao/.gradle/
src/com-res_system-commons-dao/.settings/
src/com-res_system-commons-dao/build/

src/com-res_system-commons-mvc/.gradle/
src/com-res_system-commons-mvc/.settings/
src/com-res_system-commons-mvc/build/

src/mvc_skeleton/.gradle/
src/mvc_skeleton/.settings/
src/mvc_skeleton/build/

src/HelloWorldMvc/.gradle/
src/HelloWorldMvc/.settings/
src/HelloWorldMvc/build/

src/re_emp_manager/.gradle/
src/re_emp_manager/.settings/
src/re_emp_manager/build/

src/com-res_system-commons-dao/

doc/work/
src/work/
build/work/
boot-camp-work/

.DS_Store

