<!--/* ////////////////////////////////////////////////// */-->
<!--/*                                                    */-->
<!--/* mnt_group/index.html */-->
<!--/*                                                    */-->
<!--/* ////////////////////////////////////////////////// */-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" th:with="screen_name=グループ情報メンテナンス">

<!--/* ================================================== */-->
<!--/* ページヘッダー. */-->
<head th:replace="_layout/default_layout::page_header(~{::title},~{::link.target})">
  <!--/* タイトル設定. */-->
  <title th:remove="tag" th:text="${screen_name}">xxx</title>
  <!--/* 画面固有 スタイル設定. */-->
  <link class="target" />
</head>
<!--/* ================================================== */-->

<body class="fixed-nav sticky-footer bg-dark">

  <!--/* ================================================== */-->
  <!--/* メインコンテンツ. */-->
  <div th:replace="_layout/default_layout::main_contents_navi(${screen_name},~{::div#main_contents})" th:remove="tag">
    <div id="main_contents" class="container" th:remove="tag">

      <h1 th:text="${screen_name}">xxx</h1>
      <hr />
      <div class="px-4 pt-2">

        <div class="form-group row">
          <div class="offset-6 offset-md-8 offset-lg-10  col-6 col-md-4 col-lg-2">
              <button type="button" class="btn btn-danger btn-sm w-100 display-none" id="btn_delete">
                <i class="fa fa-fw fa-trash"></i> <span>削除する</span>
              </button>
          </div>
        </div> 

        <!--/* グループ選択. */-->
        <div class="form-group row">
          <label for="group_name" class="control-label col-12">選択グループ</label>
          <div class="input-group col-12">
            <input type="text" class="form-control readonly" placeholder="グループを選択してください。" id="group_name" readonly tabindex="-1" />
            <span class="input-group-append">
              <button type="button" class="btn btn-info" id="btn_selecte_group">
                <i class="fa fa-fw fa-search"></i> <span> 選択　</span>
              </button>
            </span>
          </div>
        </div>

        <div class="update_input display-none">
          <fieldset class="pt-2">

            <!--/* グループ名. */-->
            <div class="form-group row">
              <label for="data_name" class="control-label col-12 required">グループ名</label>
              <div class="col-12">
                <input type="text" class="form-control" re-th:input="form,data,name" maxlength="100" />
              </div>
            </div>

            <!--/* 状態. */-->
            <div class="form-group row non-root-input">
              <label for="data_grp_status" class="control-label col-12 required">状況</label>
              <div class="col-12">
                 <div class="select">
                    <select class="form-control" re-th:select="form,data,grp_status" >
                      <span th:each="listItem,ix:${GrpStatList}" th:remove="tag"><!--/* LOOP -- */-->
                      <option re-th:option="form,data,grp_status,${listItem.value},${listItem.text}">○○○</option>
                      </span><!--/* / -- LOOP */-->
                    </select>
                    <span class="arrow"></span>
                  </div>
               </div>
            </div>
            <div class="form-group row root-input">
              <div class="col-12">
                <input type="hidden" re-th:input="form,data,grp_status" />
              </div>
            </div>

            <!--/* 備考. */-->
            <div class="form-group row">
              <label for="data_memo" class="control-label col-12">備考</label>
              <div class="col-12">
                  <textarea class="form-control w-100" re-th:textarea="form,data,memo" rows="1"></textarea>
              </div>
            </div>
          </fieldset>

          <!--/* 一覧. */-->
          <div class="row">
            <label for="data_memo" class="control-label col-8 col-md-10"><br />メンバー</label>
            <div class="col-4 col-md-2">
              <button type="button" class="btn btn-secondary w-100" id="btn_add_member" >
                <i class="fa fa-fw fa-plus"></i> <span> メンバー追加　</span>
              </button>
            </div>
            <div class="col-12 pt-1">
              <!--/* 明細. */-->
              <table class="table table-striped table-hover" id="main_tbl">
              <thead>
                <tr>
                  <th class="container">
                    <div class="row">
                      <div class="col-1 omit sub"><span title=""></span></div>
                      <div class="col-4 omit sub"><span title="社員番号">社員番号</span><br /><span title="ユーザー名">ユーザー名</span></div>
                      <div class="col-4 omit sub"><span title="権限">権限</span></div>
                      <div class="col-1 omit sub"><span title="デフォルト">デフォルト</span></div>
                      <div class="col-1 omit sub"><span title="除外">除外</span></div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody tabIndex="-1"></tbody>
              </table>
              <!--/* 行フォーマット. */-->
              <div class="display-none" id="main_tbl_row">
                <div class="row">
                  <div class="col-1 omit big-font">
                    <i class="del-icon fa fa-fw fa-times color-red display-none"></i>
                    <i class="add-icon fa fa-fw fa-plus color-green display-none"></i>
                  </div>
                  <div class="col-4 omit">
                    <span class="employee_no sub"></span><br />
                    <span class="name"></span><span>　</span>
                  </div>
                  <div class="col-4 omit p-2">
                    <div class="select">
                      <select class="form-control authority_id">
                        <span th:each="listItem,jx:${GrpAuthList}" th:remove="tag"><!--/* LOOP -- */-->
                        <option th:value="${listItem.value}" th:text="${listItem.text}">○○○</option>
                        </span><!--/* / -- LOOP */-->
                      </select>
                      <span class="arrow"></span>
                    </div>
                  </div>
                  <div class="col-1 omit pt-3">
                    <label class="checkbox">
                      <input type="checkbox" class="form-control is_default" value="1" /><span class="indicator"></span>
                    </label><!--/* checkbox. */-->
                  </div>
                  <div class="col-1 omit pt-3">
                    <label class="checkbox">
                      <input type="checkbox" class="form-control is_delete" value="1" /><span class="indicator"></span>
                    </label><!--/* checkbox. */-->
                  </div>
                  <input type="hidden" class="id" value="" />
                  <input type="hidden" class="is_existing" value="" />
                </div>
              </div>
            </div>
          </div>

          <!--/* button. */-->
          <div class="form-group row">
            <div class="col-12">
              <button type="button" class="btn btn-lg btn-primary w-100" id="btn_update">
                <i class="fa fa-edit"></i>
                <span>入力内容を保存します</span>
              </button>
            </div>
          </div>

        </div>

        <input type="hidden" re-th:listSize="form,list" />
        <input type="hidden" re-th:input="form,data,id" />
        <input type="hidden" re-th:input="form,mode" />
      </div>

    </div>
  </div>
  <!--/* ================================================== */-->

<!--/* ================================================== */-->
<!--/* ページヘッダー. */-->
<div th:replace="_layout/default_layout::page_footers(~{::div.modals},~{::script.target})" th:remove="tag">
  <!--/* 画面固有 ダイアログ設定. */-->
  <div class="modals" th:remove="tag">
    <div th:replace="_modal/modal_select_group_layout::layout()" th:remove="tag"></div>
    <div th:replace="_modal/modal_select_member_layout::layout()" th:remove="tag"></div>
  </div>
  <!--/* 画面固有 スクリプト設定. */-->
  <script type="text/javascript" src="../contents/scripts/mnt_group.js" re-th:uqsrc="@{/contents/scripts/mnt_group.js}" class="target" ></script>
</div>
<!--/* ================================================== */-->
</body>
</html>