<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<!-- ヘッダー -->
<head th:replace="_layout/crud_layout::common_header(${title},~{::link})">
  <meta charset="utf-8" />
  <title>-- title --</title>
  <link />
</head>
<body>

<!-- メインコンテンツ -->
<div th:replace="_layout/crud_layout::common_contents(${title},~{::div#main_contents})" >
  <div id="main_contents">
    <form th:action="@{/crud/delete_post}" method="post" >
      <p th:text="${form.message}">...</p>
      <a href="javascript:void(0)" th:href="@{/crud}">戻る</a>
      <table>
        <tr><th>ＩＤ  </th><td>：</td><td><span th:text="${form.data.id}"></span>
                                          <input type="hidden" re-th:input="form,data,id" /></td></tr>
        <tr><th>コード  </th><td>：</td><td><span th:text="${form.data.code}"></span></td></tr>
        <tr><th>名称    </th><td>：</td><td><span th:text="${form.data.name}"></span></td></tr>
        <tr><th>メモ    </th><td>：</td><td><span re-th:cltext="${form.data.memo}"></span></td></tr>
        <tr><th>オプション</th><td>：</td>
            <td>
              <span th:text="${#h.listText(form.checkList,form.data.check)}"></span>｜
              <span th:text="${#h.listText(form.radioList,form.data.radio)}"></span>｜
              <span th:text="${#h.listText(form.selectList,form.data.select)}"></span>
            </td>
        </tr>
        <tr><th>作成日時</th><td>：</td><td><span th:text="${form.data.created}"></span></td></tr>
      </table>
      <input type="submit" value="削除" style="width:100px;"/>
    </form>
  </div>
</div>

<!-- フッター -->
<div th:replace="_layout/crud_layout::common_footers(~{::#footer},~{::script})" >
  <div id="footer"></div>
  <script></script>
</div>

</body>
</html>
