<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<!-- ヘッダー -->
<head th:replace="_layout/crud_layout::common_header(${title},~{::link})">
  <meta charset="utf-8" />
  <title>-- title --</title>
  <link />
</head>
<body>

<!-- メインコンテンツ -->
<div th:replace="_layout/crud_layout::common_contents(${title},~{::div#main_contents})" >
  <div id="main_contents">
    <form th:action="@{/crud/edit_post}" method="post" >
      <p th:text="${form.message}">...</p>
      <a href="#" th:href="@{/crud}">戻る</a>
      <table>
        <tr><th>ＩＤ  </th><td>：</td><td><span th:text="${form.data.id}"></span>
                                          <input type="hidden" re-th:input="form,data,id" /></td></tr>
        <tr><th>コード</th><td>：</td><td><input type="text" re-th:input="form,data,code" style="width:300px" maxlength="10" /></td></tr>
        <tr><th>名称  </th><td>：</td><td><input type="text" re-th:input="form,data,name" style="width:300px" maxlength="40" /></td></tr>
        <tr><th>メモ  </th><td>：</td><td><textarea re-th:textarea="form,data,memo" rows="8" style="width:300px" ></textarea></td></tr>
        <tr><th>オプション[チェック]</th><td>：</td>
            <td>
              <span th:each="listItem,ix:${form.checkList}" th:remove="tag">
                <input type="checkbox" re-th:checkbox="form,data,check,1" />
                <label th:for="${#h.idWithValue('form','data','check',1)}" th:text="${listItem.text}"></label>
              </span>
            </td>
        </tr>
        <tr><th>オプション[ラジオ]</th><td>：</td>
            <td>
              <span th:each="listItem,ix:${form.radioList}" th:remove="tag">
                <input type="radio" re-th:radio="form,data,radio,${listItem.value}" />
                <label th:for="${#h.idWithValue('form','data','radio',listItem.value)}" th:text="${listItem.text}"></label>
              </span>
            </td>
        </tr>
        <tr><th>オプション[選択]</th><td>：</td>
            <td>
              <select re-th:select="form,data,select">
                <option value="-1">---</option>
                <span th:each="listItem,ix:${form.selectList}" th:remove="tag">
                <option re-th:option="form,data,select,${listItem.value},${listItem.text}" th:disabled="${listItem.disabled}==true">---</option>
                </span>
              </select>
            </td>
        </tr>
      </table>
      <input type="submit" value="更新" style="width:100px;"/>
    </form>
  </div>
</div>

<!-- フッター -->
<div th:replace="_layout/crud_layout::common_footers(~{::#footer},~{::script})" >
  <div id="footer"></div>
  <script></script>
</div>

</body>
</html>
