<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<!-- ヘッダー -->
<head th:replace="_layout/crud_layout::common_header(${title},~{::link})">
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/contents/styles/crud_index.css" re-th:uqhref="@{/contents/styles/crud_index.css}" />
</head>
<body>

<!-- メインコンテンツ -->
<div th:replace="_layout/crud_layout::common_contents(${title},~{::div#main_contents})" >
  <div id="main_contents">

    <a href="javascript:void(0)" th:href="@{/crud/list_input/}">明細入力へ</a><br />
    <a href="javascript:void(0)" th:href="@{/crud/}">再表示</a><br />
    <a href="javascript:void(0)" th:href="@{/crud/add/}">新規追加</a><br />

    <form th:action="@{/crud/index_post}" method="post" >
      <p th:text="${form.message}">...</p>
      <table class="list_tbl" style="width:98%;" border="1">
        <caption>Crud Table</caption>
        <colgroup>
          <col style="width:10rem;" />
          <col style="width:10rem;" />
          <col style="width: 8rem;" />
          <col style="width:20rem;" />
          <col />
          <col style="width:16rem;" />
          <col style="width:14rem;" />
        </colgroup>
        <thead>
          <tr>
            <th>　</th>
            <th>ＩＤ　</th>
            <th>コード</th>
            <th>名称　</th>
            <th>メモ　</th>
            <th>オプション</th>
            <th>作成日</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="listData,ix:${form.list}">
            <td align="center">
              <a href="javascript:void(0)" th:href="@{/crud/show/} + ${listData.id}">表示</a>｜
              <a href="javascript:void(0)" th:href="@{/crud/edit/} + ${listData.id}">編集</a>｜
              <a href="javascript:void(0)" th:href="@{/crud/delete/} + ${listData.id}">削除</a>
              <input type="hidden" re-th:input="form,list,ix,id" />
              <input type="hidden" re-th:input="form,list,ix,code" />
              <input type="hidden" re-th:input="form,list,ix,name" />
              <input type="hidden" re-th:input="form,list,ix,memo" />
              <input type="hidden" re-th:input="form,list,ix,check" />
              <input type="hidden" re-th:input="form,list,ix,radio" />
              <input type="hidden" re-th:input="form,list,ix,select" />
              <input type="hidden" re-th:input="form,list,ix,created" />
            </td>
            <td align="center"><span th:text="${listData.id}"></span> </td>
            <td align="center"><span th:text="${listData.code}"></span> </td>
            <td align="left"  ><span th:text="${listData.name}"></span> </td>
            <td align="left"  ><span th:text="${listData.memo}"></span> </td>
            <td align="center">
             <span th:text="${#h.listText(form.checkList,listData.check)}"></span>｜
             <span th:text="${#h.listText(form.radioList,listData.radio)}"></span>｜
             <span th:text="${#h.listText(form.selectList,listData.select)}"></span>
            </td>
            <td align="center"><span th:text="${listData.created}"> </span></td>
          </tr>
        </tbody>
      </table>
      <input type="hidden" re-th:input="form,message" />
      <input type="hidden" re-th:listSize="form,list" />
      <input type="submit" value="ポストテスト" />
    </form>
  </div>
</div>

<!-- フッター -->
<div th:replace="_layout/crud_layout::common_footers(~{::#footer},~{::script})" >
  <div id="footer"></div>
  <script type="text/javascript" src="/contents/scripts/crud_index.js" re-th:uqsrc="@{/contents/scripts/crud_index.js}" ></script>
</div>

</body>
</html>