<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<!-- ヘッダー -->
<head th:replace="_layout/crud_layout::common_header(${title},~{::link})">
  <meta charset="utf-8" />
  <title>-- title --</title>
  <link />
</head>
<body>

<!-- メインコンテンツ -->
<div th:replace="_layout/crud_layout::common_contents(${title},~{::div#main_contents})" >
  <div id="main_contents">

    <a href="javascript:void(0)" th:href="@{/crud/}">一覧へ</a><br />
    <a href="javascript:void(0)" th:href="@{/crud/list_input/}">再表示</a><br />

    <form th:action="@{/crud/list_input_post}" method="post" >
      <p th:text="${form.message}">...</p>
      <table class="list_tbl" style="width:98%;" border="1">
        <caption>Crud Table</caption>
        <colgroup>
          <col style="width:8rem;" />
          <col style="width:16rem;" />
          <col style="width:16rem;" />
          <col />
          <col style="width:10rem;" />
          <col style="width:10rem;" />
          <col style="width:10rem;" />
          <col style="width:12rem;" />
        </colgroup>
        <thead>
          <tr>
            <th>ＩＤ　</th>
            <th>コード</th>
            <th>名称　</th>
            <th>メモ　</th>
            <th>オプション<br />[チェック]</th>
            <th>オプション<br />[ラジオ]</th>
            <th>オプション<br />[選択]</th>
            <th>作成日</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="listData,ix:${form.list}">
            <td align="center">
              <span th:text="${listData.id}"> </span>
              <input type="hidden" re-th:input="form,list,ix,id" />
              <input type="hidden" re-th:input="form,list,ix,created" />
            </td>
            <td align="left" valign="top">
              <input type="text" re-th:input="form,list,ix,code" style="width:95%" maxlength="10" />
            </td>
            <td align="left" valign="top">
              <input type="text" re-th:input="form,list,ix,name" style="width:95%" maxlength="40" />
            </td>
            <td align="left" valign="top">
              <textarea re-th:textarea="form,list,ix,memo" rows="2" style="width:95%" ></textarea>
            </td>
            <td align="center">
              <span th:each="listItem,jx:${form.checkList}" th:remove="tag">
                <input type="checkbox" re-th:checkbox="form,list,ix,check,1" />
                <label th:for="${#h.idWithValue('form','list',ix.index,'check',listItem.value)}" th:text="${listItem.text}"></label><br />
              </span>
            </td>
            <td align="center">
              <span th:each="listItem,jx:${form.radioList}" th:remove="tag">
                <input type="radio" re-th:radio="form,list,ix,radio,${listItem.value}" />
                <label th:for="${#h.idWithValue('form','list',ix.index,'radio',listItem.value)}" th:text="${listItem.text}"></label><br />
              </span>
            </td>
            <td align="center">
              <select re-th:select="form,list,ix,select">
                <option value="-1">---</option>
                <span th:each="listItem,jx:${form.selectList}" th:remove="tag">
                <option re-th:option="form,list,ix,select,${listItem.value},${listItem.text}" th:disabled="${listItem.disabled}==true">---</option>
                </span>
              </select>
            </td>
            <td align="center"><span th:text="${listData.created}"> </span></td>
          </tr>
        </tbody>
      </table>
      <input type="hidden" re-th:input="form,message" />
      <input type="hidden" re-th:listSize="form,list" />
      <input type="submit" value="変更内容を反映します" />
    </form>
  </div>
</div>

<!-- フッター -->
<div th:replace="_layout/crud_layout::common_footers(~{::#footer},~{::script})" >
  <div id="footer"></div>
  <script type="text/javascript" src="/contents/scripts/crud_index.js" re-th:uqsrc="@{/contents/scripts/list_input.js}" ></script>
</div>

</body>
</html>