<!--/* ////////////////////////////////////////////////// */-->
<!--/*                                                    */-->
<!--/* employee_info/input.html */-->
<!--/*                                                    */-->
<!--/* ////////////////////////////////////////////////// */-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<!--/* ページヘッダー */-->
<head th:replace="_layout/default_layout::common_header(${title},~{::link.target})">
  <!--/* レイアウト確認用設定. */-->
  <meta charset="utf-8" />
  <title>employee_info/input</title>
  <link rel="stylesheet" href="../contents/styles/bootstrap/css/bootstrap.min.css" re-th:uqhref="@{/contents/styles/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" href="../contents/styles/bootstrap/css/bootstrap-datepicker.min.css" re-th:uqhref="@{/contents/styles/bootstrap/css/bootstrap-datepicker.min.css}" />
  <link rel="stylesheet" href="../contents/styles/commons.css" re-th:uqhref="@{/contents/styles/commons.css}" />
  <link rel="stylesheet" href="../contents/styles/re_employee_manager.css" re-th:uqhref="@{/contents/styles/re_employee_manager.css}" />
  <!--/* 画面固有 スタイル設定. */-->
  <link class="target" />
</head>
<body>

<!--/* コンテンツヘッダー. */-->
<div th:replace="_layout/default_layout::common_system_title('','社員個人情報管理[入力]',@{/employee_info/input},@{${return_url}})" th:remove="tag"></div>

<!--/* -------------------------------------------------- */-->
<!--/* メインコンテンツ. */-->
<div th:replace="_layout/default_layout::common_contents('',~{::div#main_contents})" th:remove="tag">
  <div id="main_contents" class="container" th:remove="tag">

    <!--/* メッセージ. */-->
    <div th:replace="_layout/default_layout::common_message()" ></div>

    <!--/* メインフォーム. */-->
    <form class="form-horizontal" id="myform">

      <fieldset class="px-2">
        <legend>社員個人情報</legend>

        <div class="row">
          <div class="offset-lg-2  col-sm-12 col-md-12 col-lg-8">

            <fieldset>
              <div class="form-group row">
                <label for="data_employee_no" class="control-label required col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">社員番号</label>
                <label for="data_employee_no" class="control-label required col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">社員番号</label>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                  <input type="text" class="form-control" placeholder="社員番号" re-th:input="form,data,employee_no" maxlength="10" />
                </div>
              </div>

              <div class="form-group row">
                <label for="data_family_name" class="control-label required col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">氏名</label>
                <label for="data_family_name" class="control-label required col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">氏名</label>
                <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                  <input type="text" class="form-control" placeholder="氏名（姓）" re-th:input="form,data,family_name" maxlength="20" />
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                  <input type="text" class="form-control" placeholder="氏名（名）" re-th:input="form,data,first_name" maxlength="20" />
                </div>

                <label for="data_family_name_kana" class="control-label required col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">（カナ）</label>
                <label for="data_family_name_kana" class="control-label required col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">（カナ）</label>
                <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                  <input type="text" class="form-control" placeholder="カナ氏名（姓）" re-th:input="form,data,family_name_kana" maxlength="40" />
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                  <input type="text" class="form-control" placeholder="カナ氏名（名）" re-th:input="form,data,first_name_kana" maxlength="40" />
                </div>
              </div>

              <div class="form-group row">
                <label for="data_position" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">役職</label>
                <label for="data_position" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">役職</label>
                <div class="col-12 col-sm-7 col-md-6 col-lg-6">
                  <input type="text" class="form-control" placeholder="役職" re-th:input="form,data,position" maxlength="20" />
                </div>
              </div>

              <div class="form-group row">
                <label for="data_status" class="control-label required col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">状態</label>
                <label for="data_status" class="control-label required col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">状態</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <div class="select">
                    <select class="form-control" re-th:select="form,data,emp_status" >
                      <option value=""></option>
                      <span th:each="listItem,ix:${form.statusList}" th:remove="tag"><!--/* LOOP */-->
                      <option re-th:option="form,data,emp_status,${listItem.value},${listItem.text}">○○○</option>
                      </span><!--/* /LOOP */-->
                    </select>
                    <span class="arrow"></span>
                  </div><!--/* /select */-->
                </div>
              </div>

              <div class="form-group row">
                <label for="data_joining_date" class="control-label required col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">入社日</label>
                <label for="data_joining_date" class="control-label required col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">入社日</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <input type="text" class="form-control date-picker" placeholder="入社日" re-th:input="form,data,joining_date" maxlength="10" />
                </div>
              </div>

              <div class="form-group row">
                <label for="data_leaving_date" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">退社日</label>
                <label for="data_leaving_date" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">退社日</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <input type="text" class="form-control date-picker" placeholder="退社日" re-th:input="form,data,leaving_date" maxlength="10"/>
                </div>
              </div>

              <div class="form-group row">
                <label for="data_sex_name" class="control-label required col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">性別</label>
                <label for="data_sex_name" class="control-label required col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">性別</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <span th:each="listItem,ix:${form.sexList}" th:remove="tag"><!--/* LOOP */-->
                  <label class="radio"><input type="radio" class="form-control" re-th:radio = "form,data,sex,${listItem.value}" /><span class="indicator" th:text="${listItem.text}">radio</span></label>
                  </span><!--/* /LOOP */-->
                </div>
              </div>

              <div class="form-group row">
                <label for="data_birthday" class="control-label required col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">生年月日</label>
                <label for="data_birthday" class="control-label required col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">生年月日</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <input type="text" class="form-control date-picker" placeholder="生年月日" re-th:input="form,data,birthday" maxlength="10" />
                </div>
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group row">
                <label for="data_mynumber" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">マイナンバー</label>
                <label for="data_mynumber" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">マイナンバー</label>
                <div class="col-12 col-sm-7 col-md-6 col-lg-6">
                  <input type="text" class="form-control" placeholder="マイナンバー" re-th:input="form,data,mynumber" maxlength="20" />
                </div>
              </div>

              <div class="form-group row">
                <label for="data_acquisition_date" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">雇用保険資格取得日</label>
                <label for="data_acquisition_date" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">雇用保険資格取得日</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <input type="text" class="form-control date-picker" placeholder="雇用保険資格取得日" re-th:input="form,data,acquisition_date" maxlength="10" />
                </div>
              </div>

              <div class="form-group row">
                <label for="data_insurance_no" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">雇用保険被保険番号</label>
                <label for="data_insurance_no" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">雇用保険被保険番号</label>
                <div class="col-12 col-sm-7 col-md-6 col-lg-6">
                  <input type="text" class="form-control" placeholder="雇用保険被保険番号" re-th:input="form,data,insurance_no" maxlength="20" />
                </div>
              </div>

              <div class="form-group row">
                <label for="data_pension_no" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">基礎年金番号</label>
                <label for="data_pension_no" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">基礎年金番号</label>
                <div class="col-12 col-sm-7 col-md-6 col-lg-6">
                  <input type="text" class="form-control" placeholder="基礎年金番号" re-th:input="form,data,pension_no" maxlength="20" />
                </div>
              </div>
            </fieldset>

            <fieldset>

              <div class="form-group row">
                <label for="data_addr1" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">郵便番号</label>
                <label for="data_addr1" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">郵便番号</label>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                  <input type="text" class="form-control" placeholder="郵便番号" re-th:input="form,data,postal_code" maxlength="7" />
                </div>
              </div>

              <div class="form-group row">
                <label for="data_addr1" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">住所</label>
                <label for="data_addr1" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">住所</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <input type="text" class="form-control" placeholder="住所1" re-th:input="form,data,addr1" maxlength="50" />
                  <input type="text" class="form-control" placeholder="住所2" re-th:input="form,data,addr2" maxlength="50" />
                </div>
              </div>

              <div class="form-group row">
                <label for="data_nearest_station" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">最寄り駅</label>
                <label for="data_nearest_station" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">最寄り駅</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <input type="text" class="form-control" placeholder="最寄り駅" re-th:input="form,data,nearest_station" maxlength="40" />
                </div>
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group row">
                <label for="data_tel_no" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">電話番号</label>
                <label for="data_tel_no" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">電話番号</label>
                <div class="col-12 col-sm-7 col-md-6 col-lg-6">
                  <input type="text" class="form-control" placeholder="電話番号" re-th:input="form,data,tel_no" maxlength="20" />
                </div>
                <label for="data_tel_no_mb" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">（携帯）</label>
                <label for="data_tel_no_mb" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">（携帯）</label>
                <div class="col-12 col-sm-7 col-md-6 col-lg-6">
                  <input type="text" class="form-control" placeholder="電話番号（携帯）" re-th:input="form,data,tel_no_mb" maxlength="20" />
                </div>
              </div>

              <div class="form-group row">
                <label for="data_email" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">メールアドレス</label>
                <label for="data_email" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">メールアドレス</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <input type="text" class="form-control" placeholder="メールアドレス" re-th:input="form,data,email" maxlength="256" />
                </div>
                <label for="data_email_mb" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">（携帯）</label>
                <label for="data_email_mb" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">（携帯）</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <input type="text" class="form-control" placeholder="メールアドレス（携帯）" re-th:input="form,data,email_mb" maxlength="256" />
                </div>
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group row">
                <label for="data_memo" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">特記事項</label>
                <label for="data_memo" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">特記事項</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <textarea class="form-control w-100" placeholder="特記事項" re-th:textarea="form,data,memo" rows="8"></textarea>
                </div>
              </div>
            </fieldset>

            <div class="row">
              <div class="offset-12 offset-sm-4 offset-md-4 offset-lg-4  col-12 col-sm-8 col-md-6 col-lg-6">
                <button type="button" class="btn btn-lg btn-primary w-100" id="btn_update" th:classappend="(${login_permission_kbn}!='0')? 'display-none'">
                  <img src="../contents/images/commons/icon_search_w.png" re-th:uqsrc="@{/contents/images/commons/icon_save_w.png}" width="16" height="16" />
                  <span>変更を反映する</span>
                </button><!--/* 更新系のボタン. */-->
              </div>
            </div>

          </div><!-- /col -->
        </div><!-- /row -->
      </fieldset>

      <!--/* hidden. */-->
      <input type="hidden" re-th:input="form,data,employee_id" />
      <input type="hidden" re-th:input="form,data,personal_id" />
      <input type="hidden" re-th:input="form,data,addr_id" />
      <input type="hidden" re-th:input="form,data,tel_id" />
      <input type="hidden" re-th:input="form,data,tel_mb_id" />
      <input type="hidden" re-th:input="form,data,email_id" />
      <input type="hidden" re-th:input="form,data,email_mb_id" />
    </form>

  </div>
</div>
<!--/* メインコンテンツ. */-->
<!--/* -------------------------------------------------- */-->

<!--/* -------------------------------------------------- */-->
<!--/* コンテンツフッター */-->
<div th:replace="_layout/default_layout::common_footers('',~{::#main_footer},~{::div.modals},~{::script.target})" th:remove="tag">
  <!--/* 画面固有 フッター設定. */-->
  <div id="main_footer" th:remove="tag"></div>
  <!--/* 画面固有 ダイアログ設定. */-->
  <div class="modals" th:remove="tag"></div>
  <!--/* 画面固有 スクリプト設定. */-->
  <script type="text/javascript" src="../contents/scripts/employee_info.js" re-th:uqsrc="@{/contents/scripts/employee_info_input.js}" class="target" ></script>
</div>
<!--/* コンテンツフッター */-->
<!--/* -------------------------------------------------- */-->

</body>
</html>