<!--/* ////////////////////////////////////////////////// */-->
<!--/*                                                    */-->
<!--/* employee_info/show.html */-->
<!--/*                                                    */-->
<!--/* ////////////////////////////////////////////////// */-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<!--/* ページヘッダー */-->
<head th:replace="_layout/default_layout::common_header(${title},~{::link.target})">
  <!--/* レイアウト確認用設定. */-->
  <meta charset="utf-8" />
  <title>employee_info/show</title>
  <link rel="stylesheet" href="../contents/styles/bootstrap/css/bootstrap.min.css" re-th:uqhref="@{/contents/styles/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" href="../contents/styles/bootstrap/css/bootstrap-datepicker.min.css" re-th:uqhref="@{/contents/styles/bootstrap/css/bootstrap-datepicker.min.css}" />
  <link rel="stylesheet" href="../contents/styles/commons.css" re-th:uqhref="@{/contents/styles/commons.css}" />
  <link rel="stylesheet" href="../contents/styles/re_employee_manager.css" re-th:uqhref="@{/contents/styles/re_employee_manager.css}" />
  <!--/* 画面固有 スタイル設定. */-->
  <link class="target" />
</head>
<body>

<!--/* コンテンツヘッダー. */-->
<div th:replace="_layout/default_layout::common_system_title('container','社員個人情報管理[詳細]',@{/employee_info/show},@{/employee_info/return})" th:remove="tag"></div>

<!--/* -------------------------------------------------- */-->
<!--/* メインコンテンツ. */-->
<div th:replace="_layout/default_layout::common_contents('container',~{::div#main_contents})" th:remove="tag">
  <div id="main_contents" class="container" th:remove="tag">

    <!--/* メッセージ. */-->
    <div th:replace="_layout/default_layout::common_message()" ></div>

    <!--/* 社員情報TAB. */-->
    <div th:replace="_layout/employee_layout::common_employee_tab('employee_info',${form.menuDataList})" th:remove="tag" ></div>

    <!--/* メインフォーム. */-->
    <form class="form-horizontal" id="myform">

      <fieldset class="px-2">
        <legend>社員個人情報</legend>

        <div class="row">
          <div class="offset-lg-2  col-sm-12 col-md-12 col-lg-8">

            <fieldset>
              <div class="form-group row">
                <label for="data_employee_no" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">社員番号</label>
                <label for="data_employee_no" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">社員番号</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static" th:text="${form.data.employee_no}">XXXXXXXXXXXXXXXXXXXX</p>
                </div>
              </div>

              <div class="form-group row">
                <label for="data_family_name" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">氏名</label>
                <label for="data_family_name" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">氏名</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static d-xl-inline"><span th:text="${form.data.family_name}">〇〇〇〇〇〇</span>
                                                 <span th:text="${form.data.first_name}">〇〇〇〇〇〇</span>
                                                 </p>
                  <span th:if="${#h.isNotEmpty(form.data.family_name_kana)}" th:remove="tag"><!--/* IF */-->
                  <p class="form-control-static d-xl-inline"> ( <span th:text="${form.data.family_name_kana}">〇〇〇〇〇〇</span>
                                                 <span th:text="${form.data.first_name_kana}">〇〇〇〇〇〇</span> ) </p>
                  </span ><!--/* /LOOP */-->
                </div>
              </div>

              <div class="form-group row">
                <label for="data_position" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">役職</label>
                <label for="data_position" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">役職</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static" th:text="${form.data.position}">〇〇〇〇〇〇〇〇〇〇〇〇</p>
                </div>
              </div>

              <div class="form-group row">
                <label for="data_status" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">状態</label>
                <label for="data_status" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">状態</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static" th:text="${form.data.emp_status_name}">〇〇〇</p>
                </div>
              </div>

              <div class="form-group row">
                <label for="data_joining_date" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">入社日</label>
                <label for="data_joining_date" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">入社日</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static" th:text="${form.data.joining_date}">9999/99/99</p>
                </div>
              </div>

              <div class="form-group row">
                <label for="data_leaving_date" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">退社日</label>
                <label for="data_leaving_date" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">退社日</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static" th:text="${form.data.leaving_date}">9999/99/99</p>
                </div>
              </div>

              <div class="form-group row">
                <label for="data_sex_name" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">性別</label>
                <label for="data_sex_name" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">性別</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static" th:text="${form.data.sex_name}">〇〇〇</p>
                </div>
              </div>

              <div class="form-group row">
                <label for="data_birthday" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">生年月日</label>
                <label for="data_birthday" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">生年月日</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static">
                    <span th:text="${form.data.birthday}">9999/99/99</span>
                    <span th:if="${#h.isNotEmpty(form.data.birthday)}" th:remove="tag"><!--/* IF */-->
                    <span> ( </span><span th:text="${#rmh.toAge(form.data.birthday)}">99</span><span>歳 ) </span>
                    </span>
                  </p>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group row">
                <label for="data_mynumber" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">マイナンバー</label>
                <label for="data_mynumber" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">マイナンバー</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static" th:text="${form.data.mynumber}">XXXXXXXXXXXXXXXXXXXX</p>
                </div>
              </div>

              <div class="form-group row">
                <label for="data_acquisition_date" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">雇用保険資格取得日</label>
                <label for="data_acquisition_date" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">雇用保険資格取得日</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static" th:text="${form.data.acquisition_date}">9999/99/99</p>
                </div>
              </div>

              <div class="form-group row">
                <label for="data_insurance_no" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">雇用保険被保険番号</label>
                <label for="data_insurance_no" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">雇用保険被保険番号</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static" th:text="${form.data.insurance_no}">XXXXXXXXXXXXXXXXXXXX</p>
                </div>
              </div>

              <div class="form-group row">
                <label for="data_pension_no" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">基礎年金番号</label>
                <label for="data_pension_no" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">基礎年金番号</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static" th:text="${form.data.pension_no}">XXXXXXXXXXXXXXXXXXXX</p>
                </div>
              </div>
            </fieldset>

            <fieldset>

              <div class="form-group row">
                <label for="data_addr1" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">住所</label>
                <label for="data_addr1" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">住所</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static" th:text="${#rmh.showPostalCode(form.data.postal_code)}">999-9999</p>
                  <p class="form-control-static d-md-inline d-lg-inline d-xl-inline" th:text="${form.data.addr1}">〇〇〇〇〇〇</p>
                  <p class="form-control-static d-md-inline d-lg-inline d-xl-inline" th:text="${form.data.addr2}">〇〇〇〇〇〇</p>
                </div>
              </div>

              <div class="form-group row">
                <label for="data_nearest_station" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">最寄り駅</label>
                <label for="data_nearest_station" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">最寄り駅</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static" th:text="${form.data.nearest_station}">〇〇〇〇〇〇〇〇〇〇〇〇</p>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group row">
                <label for="data_tel_no" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">電話番号</label>
                <label for="data_tel_no" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">電話番号</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static" th:text="${form.data.tel_no}">9999-9999-9999</p>
                </div>
                <label for="data_tel_no_mb" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">（携帯）</label>
                <label for="data_tel_no_mb" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">（携帯）</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static" th:text="${form.data.tel_no_mb}">9999-9999-9999</p>
                </div>
              </div>

              <div class="form-group row">
                <label for="data_email" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">メールアドレス</label>
                <label for="data_email" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">メールアドレス</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static" th:text="${form.data.email}">xxxxxxxxxxxxxxxxxxxx@xxxxxxxxxx.xxx.xxx</p>
                </div>
                <label for="data_email_mb" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">（携帯）</label>
                <label for="data_email_mb" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">（携帯）</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static" th:text="${form.data.email_mb}">xxxxxxxxxxxxxxxxxxxx@xxxxxxxxxx.xxx.xxx</p>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group row">
                <label for="data_memo" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-none d-sm-block text-right pr-2">特記事項</label>
                <label for="data_memo" class="control-label col-12 col-sm-4 col-md-4 col-lg-4 d-sm-none">特記事項</label>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                  <p class="form-control-static" re-th:cltext="${form.data.memo}">〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇</p>
                </div>
              </div>
            </fieldset>

            <div class="row">
              <div class="offset-12 offset-sm-4 offset-md-4 offset-lg-4  col-12 col-sm-8 col-md-6 col-lg-6">
                <button type="button" class="btn btn-lg btn-default w-100" id="btn_goto_input" th:classappend="(${login_permission_kbn}!='0')? 'display-none'">
                  <span>内容を変更する</span>
                </button>
              </div>
            </div>

          </div><!-- /col -->
        </div><!-- /row -->
      </fieldset>

    </form>

  </div>
</div>
<!--/* メインコンテンツ. */-->
<!--/* -------------------------------------------------- */-->

<!--/* -------------------------------------------------- */-->
<!--/* コンテンツフッター */-->
<div th:replace="_layout/default_layout::common_footers('container',~{::#main_footer},~{::div.modals},~{::script.target})" th:remove="tag">
  <!--/* 画面固有 フッター設定. */-->
  <div id="main_footer" th:remove="tag"></div>
  <!--/* 画面固有 ダイアログ設定. */-->
  <div class="modals" th:remove="tag"></div>
  <!--/* 画面固有 スクリプト設定. */-->
  <script type="text/javascript" src="../contents/scripts/employee_info_show.js" re-th:uqsrc="@{/contents/scripts/employee_info_show.js}" class="target" ></script>
</div>
<!--/* コンテンツフッター */-->
<!--/* -------------------------------------------------- */-->

</body>
</html>