<!--/* ////////////////////////////////////////////////// */-->
<!--/*                                                    */-->
<!--/* change_account_name/input.html */-->
<!--/*                                                    */-->
<!--/* ////////////////////////////////////////////////// */-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" th:with="screen_name=アカウント名変更">

<!--/* ================================================== */-->
<!--/* ページヘッダー. */-->
<head th:replace="_layout/default_layout::page_header(~{::title},~{::link.target})">
  <!--/* タイトル設定. */-->
  <title th:remove="tag" th:text="${screen_name}">xxx</title>
  <!--/* 画面固有 スタイル設定. */-->
  <link class="target" />
</head>
<!--/* ================================================== */-->

<body class="fixed-nav sticky-footer bg-dark">

  <!--/* ================================================== */-->
  <!--/* メインコンテンツ. */-->
  <div th:replace="_layout/default_layout::main_contents_navi(${screen_name},~{::div#main_contents})" th:remove="tag">
    <div id="main_contents" class="container" th:remove="tag">

      <h1 th:text="${screen_name}">xxx</h1>
      <hr />
      <div class="card card-register mx-auto mt-4">
        <div class="card-header">アカウントのユーザー名を変更します。</div>
        <div class="card-body pt-3 pb-4 px-4">

          <fieldset>
            <!--/* アカウント ユーザー名. */-->
            <div class="form-group row">
              <label for="data_name" class="control-label col-12 required">アカウントユーザー名</label>
              <div class="col-12">
                <input type="text" class="form-control" re-th:input="form,data,name" maxlength="80" />
              </div>
            </div>
          </fieldset>

          <!--/* button. */-->
          <div class="form-group row">
            <div class="col-12">
              <button type="button" class="btn btn-lg btn-primary w-100" id="btn_update">
                <i class="fa fa-edit"></i>
                <span>変更を反映する</span>
              </button>
            </div>
          </div>

        </div>
      </div><!-- /card-container -->

    </div>
  </div>
  <!--/* ================================================== */-->

<!--/* ================================================== */-->
<!--/* ページヘッダー. */-->
<div th:replace="_layout/default_layout::page_footers(~{::div.modals},~{::script.target})" th:remove="tag">
  <!--/* 画面固有 ダイアログ設定. */-->
  <div class="modals" th:remove="tag"></div>
  <!--/* 画面固有 スクリプト設定. */-->
  <script type="text/javascript" src="../contents/scripts/change_account_name.js" re-th:uqsrc="@{/contents/scripts/change_account_name.js}" class="target" ></script>
</div>
<!--/* ================================================== */-->
</body>
</html>