<!--/* ////////////////////////////////////////////////// */-->
<!--/*                                                    */-->
<!--/* _layout/modal_confirm_layout.html */-->
<!--/*                                                    */-->
<!--/* ////////////////////////////////////////////////// */-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<!--/* レイアウト確認用ヘッダー. */-->
<head>
 <meta charset="utf-8" />
  <title>modal_confirm_layout</title>
  <link rel="stylesheet" href="../contents/styles/bootstrap/css/bootstrap.min.css" re-th:uqhref="@{/contents/styles/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" href="../contents/styles/bootstrap/css/bootstrap-datepicker.min.css" re-th:uqhref="@{/contents/styles/bootstrap/css/bootstrap-datepicker.min.css}" />
  <link rel="stylesheet" href="../contents/styles/commons.css" re-th:uqhref="@{/contents/styles/commons.css}" />
  <link rel="stylesheet" href="../contents/styles/re_employee_manager.css" re-th:uqhref="@{/contents/styles/re_employee_manager.css}" />
</head>
<body>
<!--/* -------------------------------------------------- */-->
  <!--/* 確認ダイアログ設定. */-->
  <div th:fragment="layout()" th:remove="tag">
    <div class="modal fade" id="modal_confirm" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal_confirm_content">
          <div class="modal-header">
            <h5 class="modal-title">
              <img src="../contents/images/commons/icon_error.png"   re-th:uqsrc="@{/contents/images/commons/icon_error.png}"   width="16" height="16" id="modal_confirm_icon_error"   style="display:none;" />
              <img src="../contents/images/commons/icon_caution.png" re-th:uqsrc="@{/contents/images/commons/icon_caution.png}" width="16" height="16" id="modal_confirm_icon_caution" style="display:none;" />
              <img src="../contents/images/commons/icon_info.png"    re-th:uqsrc="@{/contents/images/commons/icon_info.png}"    width="16" height="16" id="modal_confirm_icon_info"    style="display:none;" />
              <span id="modal_confirm_title"></span>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる"><span aria-hidden="true">&times;</span></button>
          </div><!--/* /.modal-header */-->
          <div class="modal-body">
            <div class="container">
              <p id="modal_confirm_message" class="confirm-msg" style="display: none;"></p>
            </div><!--/* /.container */-->
          </div><!--/* /.modal-body */-->
          <div class="modal-footer">
             <button type="button" class="btn btn-modal-footer btn-primary display-none"   id="modal_confirm_btn_ok">ＯＫ</button
            ><button type="button" class="btn btn-modal-footer btn-primary display-none"   id="modal_confirm_btn_yes">はい</button
            ><button type="button" class="btn btn-modal-footer btn-warning display-none"   id="modal_confirm_btn_no">いいえ</button
            ><button type="button" class="btn btn-modal-footer btn-secondary display-none" id="modal_confirm_btn_cancel">キャンセル</button>
          </div><!--/* /.modal-footer */-->
        </div><!--/* /.modal-content */-->
      </div><!--/* /.modal-dialog */-->
    </div><!--/* /.modal */-->
    <script type="text/javascript" src="../contents/scripts/modal_confirm.js" re-th:uqsrc="@{/contents/scripts/modal_confirm.js}"></script>
  </div>
<!--/* -------------------------------------------------- */-->
</body>
</html>
