<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta name="description" content="">
  <meta name="author" content="株式会社リスタート" />
  <title>HelloWorld Mvc</title>
</head>
<body>

  <a href="javascript:void(0)" th:href="@{/example}">リロード</a>

  <!-- /////////////////////////////////////////////////////////////////// -->
  <hr />
  <form th:action="@{/example/html_response_post?cid=__${conversation_id}__}" method="post" >
    <h2>画面データ受取確認(POST)</h2>
    <input type="text" name="message" th:value="${form.message}" style="width:500px;" /><br />
    <input type="submit" name="submit" value="POST" style="width:300px;" />
    <div th:text="${form.result}"></div>
  </form>

  <!-- /////////////////////////////////////////////////////////////////// -->
  <hr />
  <form th:action="@{/example/check_cdi_scope1?cid=__${conversation_id}__}" method="post" >
    <h2>CDIのスコープ確認(session/request)</h2>
    <input type="text" name="message" th:value="${form.message}" style="width:500px;" /><br />
      <input type="submit" name="submit" value="SET" style="width:300px;" />
    ／<input type="submit" name="submit" value="GET" style="width:300px;" />
    <div th:text="${form.result}"></div>
  </form>

  <!-- /////////////////////////////////////////////////////////////////// -->
  <hr />
  <form th:action="@{/example/check_cdi_scope2?cid=__${conversation_id}__}" method="post" >
    <h2>CDIのスコープ確認(conversation)</h2>
      <input type="submit" name="submit" value="START" style="width:300px;" />
    ／<input type="submit" name="submit" value="COUNT" style="width:300px;" />
    ／<input type="submit" name="submit" value="END"   style="width:300px;" />
    <div th:text="${form.result}"></div>
  </form>

  <!-- /////////////////////////////////////////////////////////////////// -->
  <hr />
  <form th:action="@{/example/check_db?cid=__${conversation_id}__}" method="post" >
    <h2>DBアクセス確認</h2>
    <input type="text" name="message" th:value="${form.message}" style="width:500px;" /><br />
      <input type="submit" name="submit" value="FIND" style="width:300px;" />
    ／<input type="submit" name="submit" value="UPDATE" style="width:300px;" />
    <div th:text="${form.result}"></div>
  </form>

  <!-- /////////////////////////////////////////////////////////////////// -->
  <hr />
  <form th:action="@{/example/json_post?cid=__${conversation_id}__}" method="post" >
    <h2>JSONレスポンス確認</h2>
    <input type="submit" name="submit" value="POST" style="width:300px;" />
  </form>

  <!-- /////////////////////////////////////////////////////////////////// -->
  <hr />
  <form th:action="@{/example/exception_post?cid=__${conversation_id}__}" method="post" >
    <h2>例外マッピング確認</h2>
    <input type="submit" name="submit" value="POST" style="width:300px;" />
  </form>

  <!-- /////////////////////////////////////////////////////////////////// -->
  <hr />
  <form th:action="@{/example/redirect_post?cid=__${conversation_id}__}" method="post" >
    <h2>Redirect確認(crud)</h2>
    <input type="submit" name="submit" value="POST" style="width:300px;" />
  </form>

  <!-- /////////////////////////////////////////////////////////////////// -->
  <hr />
  <form th:action="@{/example/html_post?cid=__${conversation_id}__}" method="post" >
    <h2>HTMLテキストレスポンス確認</h2>
    <input type="submit" name="submit" value="POST" style="width:300px;" />
  </form>

</body>
</html>