<!--/* ////////////////////////////////////////////////// */-->
<!--/*                                                    */-->
<!--/* change_account/index.html */-->
<!--/*                                                    */-->
<!--/* ////////////////////////////////////////////////// */-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" th:with="screen_name=グループアカウント変更">

<!--/* ================================================== */-->
<!--/* ページヘッダー. */-->
<head th:replace="_layout/default_layout::page_header(~{::title},~{::link.target})">
  <!--/* タイトル設定. */-->
  <title th:remove="tag" th:text="${screen_name}">xxx</title>
  <!--/* 画面固有 スタイル設定. */-->
  <link class="target" />
</head>
<!--/* ================================================== */-->

<body class="fixed-nav sticky-footer bg-dark">

  <!--/* ================================================== */-->
  <!--/* メインコンテンツ. */-->
  <div th:replace="_layout/default_layout::main_contents_navi(${screen_name},~{::div#main_contents})" th:remove="tag">
    <div id="main_contents" class="container" th:remove="tag">

      <h1 th:text="${screen_name}">xxx</h1>
      <hr />
      <p>グループアカウントを選択してください。</p>
      <div class="px-5 py-2">

        <!--/* 条件. */-->
        <div class="form-group row">
          <div class="input-group col-12">
            <input type="text" class="form-control" placeholder="検索キーワードを入力してください。" id="keyword" maxlength="120"/>
            <span class="input-group-append">
              <button type="button" class="btn btn-info" id="btn_search">
                <i class="fa fa-fw fa-search"></i> <span> 検索　</span>
              </button>
            </span>
          </div>
        </div>

        <!--/* 新規追加. */-->
        <div class="form-group row">
          <div class="col-8 col-md-10"></div>
          <div class="col-4 col-md-2">
            <button type="button" class="btn btn-secondary w-100" id="btn_add" >
              <i class="fa fa-fw fa-plus"></i> <span> 連携追加　</span>
            </button>
          </div>
        </div>

        <!--/* 一覧. */-->
        <div class="row display-none" id="main_tbl_cond_div">
          <div class="col-12 omit sub"><span>検索条件：</span><span id="main_tbl_cond"></span></div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <!--/* 明細. */-->
            <table class="table table-striped table-hover" id="main_tbl">
            <thead>
              <tr>
                <th class="container">
                  <div class="row">
                    <div class="col-6 omit sub"></div>
                    <div class="col-4 omit sub"><span class="sort-link" data-sort-asc="1" data-sort-desc="2"  title="権限">権限</span></div>
                    <div class="col-2 omit sub"><span class="sort-link" data-sort-asc="3" data-sort-desc="4"  title="更新日">更新日</span></div>
                  </div>
                  <div class="row">
                    <div class="col-1 omit sub"></div>
                    <div class="col-5 omit sub"><span class="sort-link" data-sort-asc="5" data-sort-desc="6"  title="デフォルトグループ">デフォルトグループ</span></div>
                    <div class="col-4 omit sub"><span class="sort-link" data-sort-asc="7" data-sort-desc="8"  title="ユーザー名">ユーザー名</span></div>
                    <div class="col-2 omit sub"><span class="sort-link" data-sort-asc="9" data-sort-desc="10" title="ログイン情報">ログイン情報</span></div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
            <th:block tabindex="-1" th:each="listData,ix:${form.list}" th:remove="tag"><!--/* LOOP -- */-->
              <tr>
                <td class="container">
                  <div class="row">
                    <div class="col-6 omit sub"></div>
                    <div class="col-4 omit sub"><span th:title="${listData.authority_name}" th:text="${listData.authority_name}"></span></div>
                    <div class="col-2 omit sub"><span th:title="${listData.updated}" th:text="${listData.updated}"></span></div>
                  </div>
                  <div class="row">
                    <div class="col-1 omit accent">
                      <th:block th:if="${listData.is_current} == '1'">
                        <i class="fa fa-check-circle color-red"></i>
                      </th:block>
                    </div>
                    <div class="col-5 omit accent">
                      <span th:title="${listData.root_group_name}" th:text="${listData.root_group_name}"></span>
                      <th:block th:if="${listData.root_group_name} != ${listData.group_name}">
                      <span>/</span>
                      <span th:title="${listData.group_name}" th:text="${listData.group_name}"></span>
                      </th:block>
                    </div>
                    <div class="col-4 omit accent"><span th:title="${listData.user_name}" th:text="${listData.user_name}"></span></div>
                    <div class="col-2 omit "><span th:title="${listData.save_flg_name}" th:text="${listData.save_flg_name}"></span></div>
                  </div>
                  <input type="hidden" name="id" th:value="${listData.root_group_id}" />
                  <input type="hidden" name="sub_id" th:value="${listData.user_id}" />
                  <input type="hidden" name="is_save" th:value="${listData.save_flg}" />
                  <input type="hidden" name="is_current" th:value="${listData.is_current}" />
                  <input type="hidden" name="root_group_name" th:value="${listData.root_group_name}" />
                  <input type="hidden" name="group_name" th:value="${listData.group_name}" />
                  <input type="hidden" name="user_name" th:value="${listData.user_name}" />
                </td>
              </tr>
            </th:block><!--/* / -- LOOP */-->
            </tbody>
            </table>
          </div>
          <!--/* ページング. */-->
          <div class="col-12">
            <div th:replace="_layout/default_layout::contents_pagination('pagination')" th:remove="tag"></div>
          </div>
        </div>

        <input type="hidden" re-th:listSize="form,list" />
        <!--/* 検索条件保存. */-->
        <div th:replace="_layout/default_layout::contents_search_cond_hidden()" th:remove="tag"></div>

      </div>
    </div>
  </div>
  <!--/* ================================================== */-->

<!--/* ================================================== */-->
<!--/* ページヘッダー. */-->
<div th:replace="_layout/default_layout::page_footers(~{::div.modals},~{::script.target})" th:remove="tag">
  <!--/* 画面固有 ダイアログ設定. */-->
  <div class="modals" th:remove="tag">
    <!--/* -------------------------------------------------- */-->
    <!--/* グループアカウント変更ダイアログ. */-->
    <div class="modal fade" id="modal_input" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modal_input_content">
          <div class="modal-header"><h5 class="modal-title">【グループアカウントの変更】</h5></div><!--/* /.modal-header */-->
          <div class="modal-body">
            <div class="container">
              <!--/* メッセージ. */-->
              <div th:replace="_layout/default_layout::contents_message()" ></div>
              <!--/* フォーム. */-->
              <form id="modal_input_form">

                <div class="row">
                  <div class="offset-6 offset-md-8 offset-lg-10  col-6 col-md-4 col-lg-2">
                      <button type="button" class="btn btn-danger btn-sm w-100" id="modal_input_btn_delete">
                        <i class="fa fa-fw fa-trash"></i> <span>連携解除</span>
                      </button>
                  </div>
                </div> 

                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">

                    <h3 id="modal_input_group_name"></h3>

                    <!--/* 入力. */-->
                    <fieldset class="pb-1">

                        <!--/* グループ識別コード. */-->
                        <div class="form-group code_div">
                          <label for="code" class="control-label">グループ識別コード</label>
                          <input type="text" class="form-control" placeholder="識別コード" re-th:input="form,code" maxlength="256" />
                        </div>
                        <!--/* ログインID. */-->
                        <div class="form-group id_div">
                          <label for="id" class="control-label">ログインID</label>
                          <input type="text" class="form-control" placeholder="ログインID" re-th:input="form,id" maxlength="256" />
                        </div>
                        <!--/* パスワード. */-->
                        <div class="form-group key_div">
                          <label for="id" class="control-label">パスワード</label>
                          <input type="password" class="form-control" placeholder="パスワード" re-th:input="form,key" maxlength="256" />
                        </div>
                        <br />
                        <!--/* ログイン情報を保持する. */-->
                        <div class="form-group save_div">
                          <label class="checkbox">
                            <input type="checkbox" class="form-control" value="1" re-th:checkbox="form,save,1" />
                            <span class="indicator">グループアカウントのログイン情報を保存する</span>
                          </label><!--/* checkbox. */-->
                        </div>

                    </fieldset>
                    <br />

                    <!--/* ボタン. */-->
                    <div class="row btn-reservation">
                      <div class="col-12">
                          <button type="button" class="btn btn-lg btn-primary w-100" id="modal_input_btn_update">
                            <i class="fa fa-fw fa-edit"></i> <span>グループアカウントを変更する</span>
                          </button>
                      </div><!--/* /col */-->
                      <div class="col-12">
                          <button type="button" class="btn btn-lg btn-primary w-100" id="modal_input_btn_add">
                            <i class="fa fa-fw fa-edit"></i> <span>グループアカウントを連携する</span>
                          </button>
                      </div><!--/* /col */-->
                    </div><!--/* /row */-->

                  </div><!-- /col -->
                </div><!-- /row -->

                <input type="hidden" name="mode" />
                <input type="hidden" name="searchCond.selected_id" />
                <input type="hidden" name="searchCond.selected_sub_id" />
                <input type="text" name="dummy" style="display:none;" value=""/><!--/* 自動サブミット防止 */-->
              </form>
            </div><!--/* /.container */-->
          </div><!--/* /.modal-body */-->
          <div class="modal-footer">
            <button type="button" class="btn btn-modal-footer btn-secondary" id="modal_input_btn_close"><i class="fa fa-fw fa-times-circle"></i> <span>閉じる</span></button>
          </div><!--/* /.modal-footer */-->
        </div><!--/* /.modal-content */-->
      </div><!--/* /.modal-dialog */-->
    </div><!--/* /.modal */-->
    <!--/* -------------------------------------------------- */-->
  </div>
  <!--/* 画面固有 スクリプト設定. */-->
  <script type="text/javascript" src="../contents/scripts/change_account.js" re-th:uqsrc="@{/contents/scripts/change_account.js}" class="target" ></script>
</div>
<!--/* ================================================== */-->
</body>
</html>
