<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration status="off">

  <properties>
    <!-- 出力パターン -->
    <property name="logpattern">【%-5level】%d{yyyy-MM-dd HH:mm:ss.SSS} [ %t ] %c{2} - %msg %n</property>
    <!-- ログ格納先 -->
    <property name="logpath">/home/res/work/log</property>
    <!-- ファイル名 -->
    <property name="filename">remvc_app</property>
  </properties>

  <appenders>
    <!-- コンソール出力設定 -->
    <console name="Console" target="SYSTEM_OUT" >
      <patternLayout pattern="${logpattern}" />
    </console>

    <!-- ファイル出力設定 -->
    <rollingFile name="RollingFile"
        fileName   ="${logpath}/${filename}.log"
        filePattern="${logpath}/${filename}-%i.log" >
      <patternLayout pattern="${logpattern}" />
      <sizeBasedTriggeringPolicy size="10485760KB" />
      <timeBasedTriggeringPolicy />
      <defaultRolloverStrategy max="12" />
    </rollingFile>
  </appenders>

  <!-- ログ設定 -->
  <loggers>
    <root level="debug">
      <!-- <appender-ref ref="Console" /> -->
      <appender-ref ref="RollingFile" />
    </root>
  </loggers>

</configuration>
