<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<!-- ヘッダー -->
<head th:fragment="common_header(title,links)">
  <meta charset="utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta name="description" content="">
  <meta name="author" content="株式会社リスタート" />

  <title th:text="'HelloWorld Mvc Crud [ ' + ${title} + ' ]'">--</title>

  <link rel="stylesheet" href="/contents/styles/crud.css" re-th:uqhref="@{/contents/styles/crud.css}" />
  <th:block th:replace="${links}" />
</head>
<body>

  <!-- メインコンテンツ -->
  <div th:fragment="common_contents(title,contents_body)" th:remove="tag">
  
    <h1><a href="javascript:void(0)" th:href="@{/crud}">HelloWorld Mvc Crud</a></h1>
    <hr />
    <h3 th:text="'[ ' + ${title} + ' ]'">--</h3>
  
    <th:block th:replace="${contents_body}" />
  
  </div>

  <!-- フッター -->
  <div th:fragment="common_footers(footers_body,scripts)" th:remove="tag">
  
    <th:block th:replace="${footers_body}" />
  
    <script type="text/javascript" src="/contents/scripts/crud.js" th:re-uqsrc="@{/contents/scripts/crud.js}" ></script>
    <th:block th:replace="${scripts}" />
  
  </div>

</body>
</html>
